<h1>Tag Me</h1>

<app-link data-href="/login">Login</app-link>

<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime, omnis neque itaque quod accusantium consequuntur soluta eos pariatur
    deleniti mollitia dicta perspiciatis animi harum impedit dolores assumenda iste tenetur eligendi.
</p>

<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime, omnis neque itaque quod accusantium consequuntur soluta eos pariatur
    deleniti mollitia dicta perspiciatis animi harum impedit dolores assumenda iste tenetur eligendi. Lorem ipsum dolor, sit amet
    consectetur adipisicing elit. Maxime, omnis neque itaque quod accusantium consequuntur soluta eos pariatur deleniti mollitia dicta
    perspiciatis animi harum impedit dolores assumenda iste tenetur eligendi. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    Maxime, omnis neque itaque quod accusantium consequuntur soluta eos pariatur deleniti mollitia dicta perspiciatis animi harum impedit
    dolores assumenda iste tenetur eligendi.
</p>
