@import "vars.css";

html {
    background-color: var(--accent);
}

body {
    margin: 0;
    height: 100vh;
    background-color: var(--accent);
    display: flex;
    flex-direction: column-reverse;
}

main {
    flex: 1;

    color: var(--fg);
    background-color: var(--bg);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* When the browser is at least 600px and above */
@media screen and (min-width: 600px) {

    /* Desktop styles here */
    body {
        display: block;
        padding-top: 3rem;
        height: auto;
    }

    header {
        position: fixed;
        top: 1rem;
        left: 0;
        right: 0;
        height: 2rem;

    }

    nav {
        width: 40%;
        margin: auto;

        border-radius: 2rem;
        background-color: var(--neutral);
    }
}