@import "vars.css";

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
}

app-main {
    width: 100%;
    min-height: 100%;
}

/* When the browser is at least 600px and above */
@media screen and (min-width: 600px) {

    /* Desktop styles here */
    app-nav {
        display: block;
        padding-top: 3rem;
        height: auto;
    }
}