:root {
    --fg: #000;
    --bg: #fff;
    --accent: #45a5cc;
    --primary: var(--accent);
    --neutral: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}
