:root {
    --fg: #000;
    --bg: #fff;
    --accent: #3b8cac;
    --fg-accent: #498197;
    --primary: var(--accent);
    --neutral: #6c757d;

    --success: #28a745;
    --success-border: #1c7f33;
    --info: #58acdc;
    --info-border: #246279;
    --warning: #ffc107;
    --warning-border: #cb6c00;
    --error: #dc3545;
    --error-border: #731c24;

    --light: #f8f9fa;
    --dark: #343a40;

    --font-family: sans-serif;
    --border-radius: 0.5rem;
    --navbar-size: 2rem;
}