:root {
    --fg: #000;
    --bg: #fff;
    --accent: #3b8cac;
    --fg-accent: #498197;
    --primary: var(--accent);
    --neutral: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;

    --border-radius: 2rem;
    --navbar-size: 2rem;
}